<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
<!-- Include the header partial -->
<!-- Add the content of the specific page -->
<main>
  <%- body %>
</main>

<!-- Include the footer partial -->
</body>
</html>